*.pyc
*.bat
*.zip
*.rar
.ropeproject/
*sublime*
*.wpr
logs/
*.wpu
*.wpr
exam_server_list.local
local_settings.py
data_*.js
.ipynb_checkpoints
*.bak
nohup.out
build.txt
_bak*
note.txt
**/.idea/
tmp
/doc/
/project_details/
.vscode/launch.json
.pytest_cache/
/notebook/
\.vscode/
.project
.pydevproject
.settings/*
.venv
